# Big Data Mining 52002
## Problem Set 2 - Part 1: SQL Data Manipulation (9 Questions, 6 points for each)
## Instructions: Fill the jupyter notebook, save as `Ex2_part1_sql_<ID1>_<ID2>.ipynb` and submit the filled .ipynb in moodle by 18/5/2021

In this problem set you will practice the following:

* Managing SQL databases and executing SQL queries using the sqlite3 module
* Table creation 
* Populating tables directly via VALUES or with the help of Pandas's df.to_sql method 
* Basic feature cleaning / engineering
* Join tables

NOTE: for this part of the problem-set we use the sqlite v3 SQL-dialect.
Click [here](https://www.sqlitetutorial.net/) or [here](https://www.tutorialspoint.com/sqlite/index.htm) for a couple of short tutorials covering `sqlite`. 

The notebook contains already some needed sqlite and printing commands
(in particular, for questions 3,5,6,7,8 we print the first 10 rows of the resulting table to verify that the output is correct). For each question fill-in your python code and/or SQL query only in the designated place. Do not alter any other parts of the notebook.

Necessary Libraries:

In [1]:
import sqlite3
import os # in order to be able to load files from drive
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')
os.chdir("/content/drive/My Drive/Big data mining/") # set a working directory to load files from

Mounted at /content/drive/

We will use data taken from the hugely popular US-based T.V. show [The Bachelor](https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)), an American dating and relationship reality television series and its spin-off, [The Bachelorette](https://en.wikipedia.org/wiki/The_Bachelorette). 
The shows have respected IMDB scores of 3.2/10 and 3.4/10. 

Please answer the following questions, paying close attention to the instructions. Make sure your answers are clear and easy to read.

(1.) Use the sqlite.connect operation to create an `sqlite` connection (`conn`) with a database named `bachelor.db`   

Details: use the `sqlite` module to create a connection (named `conn`) to a new database (named `bachelor`).

WRITE YOUR SOLUTION BELOW:

In [33]:
# CREATING THE TABLE
conn = sqlite3.connect('bachelor.db')
print("Opened database successfully")

Opened database successfully

(2.) Create a table named `the_bachelor` with the following fields:  

`indx,Season,ElimWeek,Age,Height,ShowName,Name, Occupation,Hometown`.    
 Make sure you assign the appropriate data type to each field with the first four fields representing integer numbers and the rest are textual fields. For more information on data types, see [here](https://www.sqlite.org/datatype3.html).

WRITE YOUR SOLUTION BELOW:

In [34]:
table1_name = "the_bachelor"
table1_query = """ 
  CREATE TABLE IF NOT EXISTS {}(
    indx integer, 
    Season integer, 
    ElimWeek integer,
    Age integer,
    Height text,
    ShowName text,
    Name text,
    Occupation text,
    Hometown text);
"""
conn.execute(table1_query.format(table1_name))
conn.commit()

print("{} table created successfully".format(table1_name));

the_bachelor table created successfully

(3.) Using the command: 
`INSERT INTO table (column1 datatype,column2 dataype,...) VALUES (); `,  
insert season 1 contestants (rows shown below) into the `the_bachelor` table.  
Verify by querying for a sample of 10 rows.

In [35]:
# season 1 `The Bachelor` contestants:
season1_TheBachelor = """(0,1,99.0,23.0,'99.0','The Bachelor','Amanda Marsh','Event Planner','Chanute, Kansas'),
(1,1,6.0,29.0,'99.0','The Bachelor','Trista Rehn','Miami Heat Dancer','Miami, Florida'),
(2,1,5.0,24.0,'99.0','The Bachelor','Shannon Oliver','Financial Management Consultant','Dallas, Texas'),
(3,1,4.0,24.0,'99.0','The Bachelor','Kim','Nanny','Tempe, Arizona'),
(4,1,3.0,22.0,'99.0','The Bachelor','Cathy Grimes','Graduate Student','Terra Haute, Indiana'),
(5,1,3.0,28.0,'99.0','The Bachelor','Christina','Attorney','Bonita, California'),
(6,1,3.0,23.0,'99.0','The Bachelor','LaNease Adams','Actress','Los Angeles, California'),
(7,1,3.0,28.0,'99.0','The Bachelor','Rhonda','Commercial Real Estate Agent','Woodward, Oklahoma'),
(8,1,2.0,27.0,'99.0','The Bachelor','Alexa','Special Ed. Teacher','Beverly Hills, California'),
(9,1,2.0,28.0,'99.0','The Bachelor','Amy','Production Coordinator','New York, New York'),
(10,1,2.0,25.0,'99.0','The Bachelor','Angela','Hooters Waitress','Avondale, Arizona'),
(11,1,2.0,27.0,'99.0','The Bachelor','Angelique','Actress','Burbank, California'),
(12,1,2.0,23.0,'99.0','The Bachelor','Katie','Power Tool Sales Rep.','Malden, Massachusetts'),
(13,1,2.0,25.0,'99.0','The Bachelor','Melissa','Photographer','Tempe, Arizona'),
(14,1,2.0,27.0,'99.0','The Bachelor','Tina','Graduate Student','Plano, Texas'),
(15,1,1.0,29.0,'99.0','The Bachelor','Amber','Business Development Director','Los Angeles, California'),
(16,1,1.0,30.0,'99.0','The Bachelor','Daniela','Neuropsychologist','Seattle, Washington'),
(17,1,1.0,30.0,'99.0','The Bachelor','Denise','Doctor','Honolulu, Hawaii'),
(18,1,1.0,22.0,'99.0','The Bachelor','Jackie','Bar Manager','Pittsburgh, Pennsylvania'),
(19,1,1.0,31.0,'99.0','The Bachelor','Jill','Retail Manager','Chicago, Illinois'),
(20,1,1.0,27.0,'99.0','The Bachelor','Kristina','Advertising Executive','Los Angeles, California'),
(21,1,1.0,29.0,'99.0','The Bachelor','Lisa','Attorney','Dallas, Texas'),
(22,1,1.0,24.0,'99.0','The Bachelor','Paula','Insurance Representative','Swansea, Massachusetts'),
(23,1,1.0,29.0,'99.0','The Bachelor','Rachel','6th Grade Teacher','Eastchester, New York'),
(24,1,1.0,26.0,'99.0','The Bachelor','Wendi','Technology Specialist','Dallas, Texas')"""

WRITE YOUR SOLUTION BELOW:

In [36]:
season1_insert = """ 
  INSERT INTO {} \
  VALUES {};
"""

conn.execute(season1_insert.format(table1_name, season1_TheBachelor))
conn.commit()

Verifying:

In [37]:
cursor = conn.execute('''SELECT * from the_bachelor limit 10''')
for row in cursor:
  print(row)

(0, 1, 99, 23, '99.0', 'The Bachelor', 'Amanda Marsh', 'Event Planner', 'Chanute, Kansas')
(1, 1, 6, 29, '99.0', 'The Bachelor', 'Trista Rehn', 'Miami Heat Dancer', 'Miami, Florida')
(2, 1, 5, 24, '99.0', 'The Bachelor', 'Shannon Oliver', 'Financial Management Consultant', 'Dallas, Texas')
(3, 1, 4, 24, '99.0', 'The Bachelor', 'Kim', 'Nanny', 'Tempe, Arizona')
(4, 1, 3, 22, '99.0', 'The Bachelor', 'Cathy Grimes', 'Graduate Student', 'Terra Haute, Indiana')
(5, 1, 3, 28, '99.0', 'The Bachelor', 'Christina', 'Attorney', 'Bonita, California')
(6, 1, 3, 23, '99.0', 'The Bachelor', 'LaNease Adams', 'Actress', 'Los Angeles, California')
(7, 1, 3, 28, '99.0', 'The Bachelor', 'Rhonda', 'Commercial Real Estate Agent', 'Woodward, Oklahoma')
(8, 1, 2, 27, '99.0', 'The Bachelor', 'Alexa', 'Special Ed. Teacher', 'Beverly Hills, California')
(9, 1, 2, 28, '99.0', 'The Bachelor', 'Amy', 'Production Coordinator', 'New York, New York')

(4.) Adding the rest of the seasons via a text file:  

1.   Read the contents of the file `contestants.txt` into a variable named `contestants`. 
2.   Using `INSERT INTO...VALUES...`, inerst to the `the_bachelor` the rest of the seasons' data.   
3. How many rows are in the complete table?

WRITE YOUR SOLUTION BELOW:

In [38]:
#1. Read file content into a variable 
file = open('./contestants.txt')
line = file.read()
file.close()
line = line.split(',\n')

#2. Insert to the_bachelor table 
for row in line:
  conn.execute("INSERT INTO {} VALUES{};".format(table1_name, row))

conn.commit()

# Varification:
#cursor = conn.execute('''SELECT * from the_bachelor''')
#for row in cursor:
#  print(row)

#3. Compute and print number of rows 
rows = conn.execute('''SELECT COUNT(*) from the_bachelor''')
results = rows.fetchone()
print(f'the_bachlor table includes {results} number of rows.')

the_bachlor table includes (704,) number of rows.

(5.) Load data from the `bach538` CSV file directly into a new table named `bachInfo` using Pandas' `df.to_sql` method.   


1.   Load the CSV file into a pandas dataframe.
2.   Using the dataframe's `.to_sql` method (look for the exact parameters), create a new tale named `bachInfo`. 
3. Print the column NAMES of the table.

WRITE YOUR SOLUTION BELOW:

In [39]:
# YOUR CODE HERE
bach538 = pd.read_csv('./bach538.csv')
conn.execute('''
  CREATE TABLE bachInfo('SHOW text', 'SEASON text', 'CONTESTANT text', 'ELIMINATION-1 text',
       'ELIMINATION-2 text', 'ELIMINATION-3 text', 'ELIMINATION-4 text',
       'ELIMINATION-5 text', 'ELIMINATION-6 text', 'ELIMINATION-7 text',
       'ELIMINATION-8 text', 'ELIMINATION-9 text', 'ELIMINATION-10 text',
       'DATES-1 text', 'DATES-2 text', 'DATES-3 text', 'DATES-4 text',
       'DATES-5 text', 'DATES-6 text', 'DATES-7 text', 'DATES-8 text',
       'DATES-9 text', 'DATES-10 text')''')
conn.commit()

bach538.to_sql('bachInfo', conn, if_exists='replace', index = False)

# Verifying
cursor = conn.execute('''SELECT * from bachInfo limit 10''')
for row in cursor:
  print(row)

# Print the column NAMES of the table.
cursor = conn.execute('SELECT * from bachInfo')
for i,row in enumerate(cursor.description): 
  print(f'Column {i}: {row[0]}')

('SHOW', 'SEASON', 'ID', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
('Bachelorette', '13', '13_BRYAN_A', 'R1', None, None, 'R', 'R', None, 'R', None, None, 'W', None, None, 'D6', 'D13', 'D1', 'D7', 'D1', 'D1', 'D1', 'D1')
('Bachelorette', '13', '13_PETER_K', None, 'R', None, None, None, 'R', 'R', None, None, 'E', None, 'D1', 'D6', 'D13', 'D9', 'D7', 'D1', 'D1', 'D1', 'D1')
('Bachelorette', '13', '13_ERIC_B', None, None, 'R', None, None, 'R', 'R', None, 'E', None, None, 'D10', 'D8', 'D13', 'D9', 'D1', 'D3', 'D1', 'D1', None)
('Bachelorette', '13', '13_DEAN_U', None, 'R', None, 'R', None, None, 'R', 'E', None, None, None, 'D8', 'D8', 'D1', 'D9', 'D7', 'D1', 'D1', None, None)
('Bachelorette', '13', '13_ADAM_G', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', 'D8', 'D13', 'D9', 'D7', 'D3', None, None, None)
('Bachelorette', '13', '13_MATT_M', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', None, 'D13', 'D9', 'D7', 'D3', None, None, None)
('Bachelorette', '13', '13_ALEX_B', None, None, 'R', None, None, 'E', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D7', None, None, None, None)
('Bachelorette', '13', '13_WILL_G', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D1', None, None, None, None)
('Bachelorette', '13', '13_KENNY_L', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D8', 'D8', 'D13', 'D2', 'D7', None, None, None, None)
Column 0: SHOW
Column 1: SEASON
Column 2: CONTESTANT
Column 3: ELIMINATION-1
Column 4: ELIMINATION-2
Column 5: ELIMINATION-3
Column 6: ELIMINATION-4
Column 7: ELIMINATION-5
Column 8: ELIMINATION-6
Column 9: ELIMINATION-7
Column 10: ELIMINATION-8
Column 11: ELIMINATION-9
Column 12: ELIMINATION-10
Column 13: DATES-1
Column 14: DATES-2
Column 15: DATES-3
Column 16: DATES-4
Column 17: DATES-5
Column 18: DATES-6
Column 19: DATES-7
Column 20: DATES-8
Column 21: DATES-9
Column 22: DATES-10

(6.) Drop the first row of the `bachInfo` table.

WRITE YOUR SOLUTION BELOW:

In [40]:
# YOUR CODE HERE
sql_delete_query = """DELETE from bachInfo WHERE SHOW = 'SHOW'"""
cursor.execute(sql_delete_query)
conn.commit()

# Verifying
cursor = conn.execute('''SELECT * from bachInfo limit 10''')
for row in cursor:
  print(row)

('Bachelorette', '13', '13_BRYAN_A', 'R1', None, None, 'R', 'R', None, 'R', None, None, 'W', None, None, 'D6', 'D13', 'D1', 'D7', 'D1', 'D1', 'D1', 'D1')
('Bachelorette', '13', '13_PETER_K', None, 'R', None, None, None, 'R', 'R', None, None, 'E', None, 'D1', 'D6', 'D13', 'D9', 'D7', 'D1', 'D1', 'D1', 'D1')
('Bachelorette', '13', '13_ERIC_B', None, None, 'R', None, None, 'R', 'R', None, 'E', None, None, 'D10', 'D8', 'D13', 'D9', 'D1', 'D3', 'D1', 'D1', None)
('Bachelorette', '13', '13_DEAN_U', None, 'R', None, 'R', None, None, 'R', 'E', None, None, None, 'D8', 'D8', 'D1', 'D9', 'D7', 'D1', 'D1', None, None)
('Bachelorette', '13', '13_ADAM_G', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', 'D8', 'D13', 'D9', 'D7', 'D3', None, None, None)
('Bachelorette', '13', '13_MATT_M', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', None, 'D13', 'D9', 'D7', 'D3', None, None, None)
('Bachelorette', '13', '13_ALEX_B', None, None, 'R', None, None, 'E', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D7', None, None, None, None)
('Bachelorette', '13', '13_WILL_G', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D1', None, None, None, None)
('Bachelorette', '13', '13_KENNY_L', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D8', 'D8', 'D13', 'D2', 'D7', None, None, None, None)
('Bachelorette', '13', '13_ANTHONY_B', None, None, 'R', None, 'E', None, None, None, None, None, None, None, 'D1', 'D13', 'D9', None, None, None, None, None)

(7.) Remove all the occurences of the substring `The` from the `ShowName` column of the `the_bachelor` table, so that it matches the `SHOW` column in the `bachInfo` table.   
To do that, you can use the `UPDATE table SET` together with the `SUBSTR` commands. Other commands will be accepted as long as they produce the same result.

WRITE YOUR SOLUTION BELOW:

In [41]:
# YOUR CODE HERE
sql_delete_query = """UPDATE the_bachelor SET ShowName=REPLACE(ShowName, 'The ', '') WHERE ShowName LIKE 'The %'"""
cursor.execute(sql_delete_query)
conn.commit()

# Verifying
cursor = conn.execute('''SELECT * from the_bachelor limit 10''')
for row in cursor:
  print(row)

(0, 1, 99, 23, '99.0', 'Bachelor', 'Amanda Marsh', 'Event Planner', 'Chanute, Kansas')
(1, 1, 6, 29, '99.0', 'Bachelor', 'Trista Rehn', 'Miami Heat Dancer', 'Miami, Florida')
(2, 1, 5, 24, '99.0', 'Bachelor', 'Shannon Oliver', 'Financial Management Consultant', 'Dallas, Texas')
(3, 1, 4, 24, '99.0', 'Bachelor', 'Kim', 'Nanny', 'Tempe, Arizona')
(4, 1, 3, 22, '99.0', 'Bachelor', 'Cathy Grimes', 'Graduate Student', 'Terra Haute, Indiana')
(5, 1, 3, 28, '99.0', 'Bachelor', 'Christina', 'Attorney', 'Bonita, California')
(6, 1, 3, 23, '99.0', 'Bachelor', 'LaNease Adams', 'Actress', 'Los Angeles, California')
(7, 1, 3, 28, '99.0', 'Bachelor', 'Rhonda', 'Commercial Real Estate Agent', 'Woodward, Oklahoma')
(8, 1, 2, 27, '99.0', 'Bachelor', 'Alexa', 'Special Ed. Teacher', 'Beverly Hills, California')
(9, 1, 2, 28, '99.0', 'Bachelor', 'Amy', 'Production Coordinator', 'New York, New York')

(8.) For both tables, add a `first_name` and `last_initial` columns, both having all uppercase.   


1.   Add the new column names to the tables using `ALTER TABLE`. 
2.   Populate the new columns `first_name` and `last_initial` by the `UPPER` of the candidate's first name (if exists), and the UPPER of the initial (first letter) of the family name (if exists), respectively.

WRITE YOUR SOLUTION BELOW:

For the `the_bachelor` table:

In [42]:
# 1. Add column names to first table 
query_add_firstN = """ALTER TABLE the_bachelor ADD first_name text;"""
conn.execute(query_add_firstN)
conn.commit()
query_add_lastI = """ALTER TABLE the_bachelor ADD last_initial text;"""
conn.execute(query_add_lastI)
conn.commit()

In [43]:
# 2. Populate new columns for first table 
query_update_firstN = """ 
  UPDATE the_bachelor 
    SET first_name = CASE 
                      WHEN Name LIKE '% %' THEN UPPER(substr(Name, 1, instr(Name, ' ') - 1))
                      ELSE UPPER(Name)
                      END 
                      """

conn.execute(query_update_firstN)
conn.commit()

query_update_lastI = """ 
  UPDATE the_bachelor 
    SET last_initial = CASE 
                    WHEN Name LIKE '% %' THEN UPPER(SUBSTR(SUBSTR(Name, instr(Name, ' ') + 1), 1, 1))
                    ELSE ''
                    END 
  """
conn.execute(query_update_lastI)
conn.commit()

# Verifying:
cursor = conn.execute('''SELECT * from the_bachelor limit 10''')
for row in cursor:
  print(row)

(0, 1, 99, 23, '99.0', 'Bachelor', 'Amanda Marsh', 'Event Planner', 'Chanute, Kansas', 'AMANDA', 'M')
(1, 1, 6, 29, '99.0', 'Bachelor', 'Trista Rehn', 'Miami Heat Dancer', 'Miami, Florida', 'TRISTA', 'R')
(2, 1, 5, 24, '99.0', 'Bachelor', 'Shannon Oliver', 'Financial Management Consultant', 'Dallas, Texas', 'SHANNON', 'O')
(3, 1, 4, 24, '99.0', 'Bachelor', 'Kim', 'Nanny', 'Tempe, Arizona', 'KIM', '')
(4, 1, 3, 22, '99.0', 'Bachelor', 'Cathy Grimes', 'Graduate Student', 'Terra Haute, Indiana', 'CATHY', 'G')
(5, 1, 3, 28, '99.0', 'Bachelor', 'Christina', 'Attorney', 'Bonita, California', 'CHRISTINA', '')
(6, 1, 3, 23, '99.0', 'Bachelor', 'LaNease Adams', 'Actress', 'Los Angeles, California', 'LANEASE', 'A')
(7, 1, 3, 28, '99.0', 'Bachelor', 'Rhonda', 'Commercial Real Estate Agent', 'Woodward, Oklahoma', 'RHONDA', '')
(8, 1, 2, 27, '99.0', 'Bachelor', 'Alexa', 'Special Ed. Teacher', 'Beverly Hills, California', 'ALEXA', '')
(9, 1, 2, 28, '99.0', 'Bachelor', 'Amy', 'Production Coordinator', 'New York, New York', 'AMY', '')

For the `bachInfo` table:

In [44]:
# 1. Add column names to second table 
query_add_firstN = """ALTER TABLE bachInfo ADD first_name text;"""
conn.execute(query_add_firstN)
conn.commit()
query_add_lastI = """ALTER TABLE bachInfo ADD last_initial text;"""
conn.execute(query_add_lastI)
conn.commit()

In [45]:
# 2. Populate new columns for second table 
query_update_firstN = """ 
UPDATE bachInfo SET first_name=SUBSTR(CONTESTANT, 4, LENGTH(CONTESTANT)-5)
"""
conn.execute(query_update_firstN)
conn.commit()

query_update_lastI = """ 
UPDATE bachInfo SET last_initial=SUBSTR(CONTESTANT, LENGTH(CONTESTANT), LENGTH(CONTESTANT))
"""
conn.execute(query_update_lastI)
conn.commit()

# Verifying:
cursor = conn.execute('''SELECT * from bachInfo limit 10''')
for row in cursor:
  print(row)

('Bachelorette', '13', '13_BRYAN_A', 'R1', None, None, 'R', 'R', None, 'R', None, None, 'W', None, None, 'D6', 'D13', 'D1', 'D7', 'D1', 'D1', 'D1', 'D1', 'BRYAN', 'A')
('Bachelorette', '13', '13_PETER_K', None, 'R', None, None, None, 'R', 'R', None, None, 'E', None, 'D1', 'D6', 'D13', 'D9', 'D7', 'D1', 'D1', 'D1', 'D1', 'PETER', 'K')
('Bachelorette', '13', '13_ERIC_B', None, None, 'R', None, None, 'R', 'R', None, 'E', None, None, 'D10', 'D8', 'D13', 'D9', 'D1', 'D3', 'D1', 'D1', None, 'ERIC', 'B')
('Bachelorette', '13', '13_DEAN_U', None, 'R', None, 'R', None, None, 'R', 'E', None, None, None, 'D8', 'D8', 'D1', 'D9', 'D7', 'D1', 'D1', None, None, 'DEAN', 'U')
('Bachelorette', '13', '13_ADAM_G', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', 'D8', 'D13', 'D9', 'D7', 'D3', None, None, None, 'ADAM', 'G')
('Bachelorette', '13', '13_MATT_M', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', None, 'D13', 'D9', 'D7', 'D3', None, None, None, 'MATT', 'M')
('Bachelorette', '13', '13_ALEX_B', None, None, 'R', None, None, 'E', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D7', None, None, None, None, 'ALEX', 'B')
('Bachelorette', '13', '13_WILL_G', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D1', None, None, None, None, 'WILL', 'G')
('Bachelorette', '13', '13_KENNY_L', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D8', 'D8', 'D13', 'D2', 'D7', None, None, None, None, 'KENNY', 'L')
('Bachelorette', '13', '13_ANTHONY_B', None, None, 'R', None, 'E', None, None, None, None, None, None, None, 'D1', 'D13', 'D9', None, None, None, None, None, 'ANTHONY', 'B')

(9.) Write and execute a statement (query) that Left joins  the `bachInfo`  table and the `the_bachelor` table (`From bachInfo LEFT JOIN the_bachelor`) based on `first_name`,`last_initial`, and  `ShowName`. Limit the output to 100 rows.

WRITE YOUR SOLUTION BELOW:

In [58]:
left_join_query = """
SELECT * FROM bachInfo 
LEFT JOIN the_bachelor
ON bachInfo.first_name = the_bachelor.first_name
AND bachInfo.last_initial = the_bachelor.last_initial
AND bachInfo.Show = the_bachelor.ShowName
LIMIT 100
"""

cursor = conn.execute(left_join_query)

for row in cursor:
  print(row)

('Bachelorette', '13', '13_BRYAN_A', 'R1', None, None, 'R', 'R', None, 'R', None, None, 'W', None, None, 'D6', 'D13', 'D1', 'D7', 'D1', 'D1', 'D1', 'D1', 'BRYAN', 'A', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_PETER_K', None, 'R', None, None, None, 'R', 'R', None, None, 'E', None, 'D1', 'D6', 'D13', 'D9', 'D7', 'D1', 'D1', 'D1', 'D1', 'PETER', 'K', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_ERIC_B', None, None, 'R', None, None, 'R', 'R', None, 'E', None, None, 'D10', 'D8', 'D13', 'D9', 'D1', 'D3', 'D1', 'D1', None, 'ERIC', 'B', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_DEAN_U', None, 'R', None, 'R', None, None, 'R', 'E', None, None, None, 'D8', 'D8', 'D1', 'D9', 'D7', 'D1', 'D1', None, None, 'DEAN', 'U', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_ADAM_G', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', 'D8', 'D13', 'D9', 'D7', 'D3', None, None, None, 'ADAM', 'G', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_MATT_M', None, None, None, None, None, None, 'ED', None, None, None, None, 'D10', None, 'D13', 'D9', 'D7', 'D3', None, None, None, 'MATT', 'M', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_ALEX_B', None, None, 'R', None, None, 'E', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D7', None, None, None, None, 'ALEX', 'B', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_WILL_G', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D10', 'D6', 'D13', 'D9', 'D1', None, None, None, None, 'WILL', 'G', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_KENNY_L', None, None, None, None, 'R', 'ED', None, None, None, None, None, 'D8', 'D8', 'D13', 'D2', 'D7', None, None, None, None, 'KENNY', 'L', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_ANTHONY_B', None, None, 'R', None, 'E', None, None, None, None, None, None, None, 'D1', 'D13', 'D9', None, None, None, None, None, 'ANTHONY', 'B', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_JOSIAH_G', None, 'R', None, None, 'E', None, None, None, None, None, None, 'D10', None, 'D13', 'D9', None, None, None, None, None, 'JOSIAH', 'G', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_LEE_G', None, None, None, None, 'ED', None, None, None, None, None, None, 'D10', 'D8', 'D13', 'D2', None, None, None, None, None, 'LEE', 'G', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_IGGY_R', None, None, None, 'E', None, None, None, None, None, None, None, 'D8', None, 'D13', None, None, None, None, None, None, 'IGGY', 'R', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_JONATHAN_T', None, None, None, 'E', None, None, None, None, None, None, None, 'D8', 'D6', 'D13', None, None, None, None, None, None, 'JONATHAN', 'T', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_JACK_S', None, None, None, 'ED', None, None, None, None, None, None, None, 'D8', 'D8', 'D1', None, None, None, None, None, None, 'JACK', 'S', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_BRADY_E', None, None, 'E', None, None, None, None, None, None, None, None, None, 'D8', None, None, None, None, None, None, None, 'BRADY', 'E', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_BRYCE_P', None, None, 'E', None, None, None, None, None, None, None, None, None, 'D8', None, None, None, None, None, None, None, 'BRYCE', 'P', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_DIGGY_M', None, None, 'E', None, None, None, None, None, None, None, None, 'D10', None, None, None, None, None, None, None, None, 'DIGGY', 'M', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_FRED_J', None, None, 'ED', None, None, None, None, None, None, None, None, 'D8', 'D6', None, None, None, None, None, None, None, 'FRED', 'J', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_BLAKE_E', None, 'E', None, None, None, None, None, None, None, None, None, 'D8', None, None, None, None, None, None, None, None, 'BLAKE', 'E', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_JAMEY_K', None, 'E', None, None, None, None, None, None, None, None, None, 'D10', None, None, None, None, None, None, None, None, 'JAMEY', 'K', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_LUCAS_Y', None, 'E', None, None, None, None, None, None, None, None, None, 'D8', None, None, None, None, None, None, None, None, 'LUCAS', 'Y', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_DEMARIO_J', None, 'EU', None, None, None, None, None, None, None, None, None, 'D10', None, None, None, None, None, None, None, None, 'DEMARIO', 'J', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_BLAKE_K', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'BLAKE', 'K', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_GRANT_H', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'GRANT', 'H', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_JEDIDIAH_B', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'JEDIDIAH', 'B', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_KYLE_S', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'KYLE', 'S', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_MICHAEL_B', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'MICHAEL', 'B', 575, 7, 1, 29, '99.0', 'Bachelorette', 'Michael Burns', 'Technology Salesman', 'Providence, Rhode Island', 'MICHAEL', 'B')
('Bachelorette', '13', '13_MILTON_L', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'MILTON', 'L', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_MOHIT_S', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'MOHIT', 'S', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '13', '13_ROB_H', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'ROB', 'H', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', 'SEASON', 'ID', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'ID', 'D', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '12', '12_JORDAN_R', 'R1', None, None, 'R', 'R', None, None, None, None, 'W', None, 'D6', 'D12', 'D11', 'D1', 'D5', 'D1', 'D1', 'D1', 'D1', 'JORDAN', 'R', 679, 12, 99, 27, '99.0', 'Bachelorette', 'Jordan Rodgers', 'Former Pro Quarterback', 'Chico, California', 'JORDAN', 'R')
('Bachelorette', '12', '12_ROBBY_H', None, None, None, None, 'R', None, 'R', None, None, 'E', None, 'D10', None, 'D11', 'D9', 'D5', 'D3', 'D1', 'D1', 'D1', 'ROBBY', 'H', 680, 12, 10, 27, '99.0', 'Bachelorette', 'Robby Hayes', 'Former Competitive Swimmer', 'St. Augustine, Florida', 'ROBBY', 'H')
('Bachelorette', '12', '12_CHASE_M', None, None, 'R', None, None, 'R', None, None, 'ED', None, None, None, 'D1', 'D11', 'D9', 'D2', 'D3', 'D1', 'D1', None, 'CHASE', 'M', 681, 12, 9, 27, '99.0', 'Bachelorette', 'Chase McNary', 'Medical Sales Rep', 'Castle Rock, Colorado', 'CHASE', 'M')
('Bachelorette', '12', '12_LUKE_P', None, None, None, 'R', None, 'R', None, 'E', None, None, None, 'D10', None, 'D1', 'D9', 'D5', 'D1', 'D1', None, None, 'LUKE', 'P', 682, 12, 8, 31, '99.0', 'Bachelorette', 'Luke Pell', 'War Veteran', 'Burnet, Texas', 'LUKE', 'P')
('Bachelorette', '12', '12_JAMES_T', None, 'R', 'R', None, None, None, 'E', None, None, None, None, 'D6', 'D1', 'D11', 'D9', 'D5', 'D3', None, None, None, 'JAMES', 'T', 683, 12, 7, 29, '99.0', 'Bachelorette', 'James Taylor', 'Singer-Songwriter', 'Katy, Texas', 'JAMES', 'T')
('Bachelorette', '12', '12_ALEX_W', None, None, None, 'R', None, None, 'ED', None, None, None, None, 'D6', 'D12', 'D2', 'D9', 'D5', 'D1', None, None, None, 'ALEX', 'W', 684, 12, 7, 25, '99.0', 'Bachelorette', 'Alex Woytkiw', 'U.S. Marine', 'Oceanside, California', 'ALEX', 'W')
('Bachelorette', '12', '12_DEREK_P', None, 'R', None, None, 'R', 'ED', None, None, None, None, None, 'D1', None, 'D11', 'D1', 'D2', None, None, None, None, 'DEREK', 'P', 685, 12, 6, 29, '99.0', 'Bachelorette', 'Derek Peth', 'Commercial Banker', 'Waverly, Iowa', 'DEREK', 'P')
('Bachelorette', '12', '12_WELLS_A', None, 'R', None, None, None, 'ED', None, None, None, None, None, 'D10', 'D12', 'D11', 'D9', 'D1', None, None, None, None, 'WELLS', 'A', 686, 12, 6, 31, '99.0', 'Bachelorette', 'Wells Adams', 'Radio DJ', 'Monterey, California', 'WELLS', 'A')
('Bachelorette', '12', '12_VINCENT_V', None, None, None, None, 'E', None, None, None, None, None, None, 'D10', 'D12', 'D11', 'D9', None, None, None, None, None, 'VINCENT', 'V', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '12', '12_GRANT_K', None, None, None, None, 'E', None, None, None, None, None, None, 'D10', 'D12', 'D11', 'D9', None, None, None, None, None, 'GRANT', 'K', 688, 12, 5, 27, '99.0', 'Bachelorette', 'Grant Kemp', 'Firefighter', 'San Francisco, California', 'GRANT', 'K')
('Bachelorette', '12', '12_EVAN_B', None, None, 'R', None, 'E', None, None, None, None, None, None, 'D10', 'D12', 'D11', 'D9', None, None, None, None, None, 'EVAN', 'B', 687, 12, 5, 33, '99.0', 'Bachelorette', 'Evan Bass', 'Erectile Dysfunction Specialist', 'Hartford, Connecticut', 'EVAN', 'B')
('Bachelorette', '12', '12_JAMES_F', None, None, None, 'E', None, None, None, None, None, None, None, 'D10', 'D12', 'D11', None, None, None, None, None, None, 'JAMES', 'F', 691, 12, 4, 34, '99.0', 'Bachelorette', 'James Fuertes', 'Boxing Club Owner', 'Franklin, Tennessee', 'JAMES', 'F')
('Bachelorette', '12', '12_DANIEL_M', None, None, None, 'E', None, None, None, None, None, None, None, 'D10', 'D12', 'D11', None, None, None, None, None, None, 'DANIEL', 'M', 690, 12, 4, 31, '99.0', 'Bachelorette', 'Daniel Maguire', 'Male Model', 'Lions Bay, British Columbia', 'DANIEL', 'M')
('Bachelorette', '12', '12_CHAD_J', None, None, None, 'ED', None, None, None, None, None, None, None, 'D6', 'D12', 'D2', None, None, None, None, None, None, 'CHAD', 'J', 692, 12, 4, 28, '99.0', 'Bachelorette', 'Chad Johnson', 'Luxury Real Estate Agent', 'Jenks, Oklahoma', 'CHAD', 'J')
('Bachelorette', '12', '12_NICK_B', None, None, 'E', None, None, None, None, None, None, None, None, 'D6', 'D12', None, None, None, None, None, None, None, 'NICK', 'B', 695, 12, 3, 33, '99.0', 'Bachelorette', 'Nick Benvenutti', 'Electrical Engineer', 'Carthage, Illinois', 'NICK', 'B')
('Bachelorette', '12', '12_CHRISTIAN_B', None, None, 'E', None, None, None, None, None, None, None, None, 'D6', 'D12', None, None, None, None, None, None, None, 'CHRISTIAN', 'B', 694, 12, 3, 26, '99.0', 'Bachelorette', 'Christian Bishop', 'Telecom Consultant', 'Los Angeles, California', 'CHRISTIAN', 'B')
('Bachelorette', '12', '12_ALI_Z', None, None, 'E', None, None, None, None, None, None, None, None, 'D10', 'D12', None, None, None, None, None, None, None, 'ALI', 'Z', 693, 12, 3, 27, '99.0', 'Bachelorette', 'Ali Zahiri', 'Bartender', 'Santa Monica, California', 'ALI', 'Z')
('Bachelorette', '12', '12_WILL_H', None, 'E', None, None, None, None, None, None, None, None, None, 'D10', None, None, None, None, None, None, None, None, 'WILL', 'H', 698, 12, 2, 26, '99.0', 'Bachelorette', 'Will Haduch', 'Civil Engineer', 'Jersey City, New Jersey', 'WILL', 'H')
('Bachelorette', '12', '12_JAMES_S', None, 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'JAMES', 'S', 697, 12, 2, 27, '99.0', 'Bachelorette', 'James Spadafore', 'Bachelor Superfan', 'Phoenix, Arizona', 'JAMES', 'S')
('Bachelorette', '12', '12_BRANDON_H', None, 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'BRANDON', 'H', 696, 12, 2, 28, '99.0', 'Bachelorette', 'Brandon Howell', 'Hipster', 'Marysville, Washington', 'BRANDON', 'H')
('Bachelorette', '12', '12_SAL_D', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'SAL', 'D', 704, 12, 1, 28, '99.0', 'Bachelorette', 'Sal DeJulio', 'Operations Manager', 'Hubbard, Ohio', 'SAL', 'D')
('Bachelorette', '12', '12_PETER_M', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'PETER', 'M', 703, 12, 1, 26, '99.0', 'Bachelorette', 'Peter Medina', 'Staffing Agency Manager', 'Rockdale, Illinois', 'PETER', 'M')
('Bachelorette', '12', '12_NICK_S', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'NICK', 'S', 646, 10, 2, 27, '99.0', 'Bachelorette', 'Nick Sutter', 'Professional Golfer', 'Barrington, Illinois', 'NICK', 'S')
('Bachelorette', '12', '12_NICK_S', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'NICK', 'S', 702, 12, 1, 26, '99.0', 'Bachelorette', 'Nick Sharp', 'Software Salesman', 'San Francisco, California', 'NICK', 'S')
('Bachelorette', '12', '12_JONATHAN_H', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'JONATHAN', 'H', 666, 11, 4, 33, '99.0', 'Bachelorette', 'Jonathan Holloway', 'Automotive Spokesman', 'Sylvan Lake, Michigan', 'JONATHAN', 'H')
('Bachelorette', '12', '12_JONATHAN_H', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'JONATHAN', 'H', 701, 12, 1, 29, '99.0', 'Bachelorette', 'Jonathan Hamilton', 'Technical Sales Rep', 'Vancouver, British Columbia', 'JONATHAN', 'H')
('Bachelorette', '12', '12_JAKE_P', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'JAKE', 'P', 504, 5, 6, 31, '99.0', 'Bachelorette', 'Jake Pavelka', 'Commercial Pilot', 'Denton, Texas', 'JAKE', 'P')
('Bachelorette', '12', '12_JAKE_P', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'JAKE', 'P', 700, 12, 1, 26, '99.0', 'Bachelorette', 'Jake Patton', 'Landscape Architect', 'Playa Vista, California', 'JAKE', 'P')
('Bachelorette', '12', '12_COLEY_K', 'E', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'COLEY', 'K', 699, 12, 1, 27, '99.0', 'Bachelorette', 'Coley Knust', 'Real Estate Consultant', 'Chicago, Illinois', 'COLEY', 'K')
('Bachelorette', 'SEASON', 'ID', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'ID', 'D', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '11', '11_SHAWN_B', 'R1', None, 'R', None, 'R', None, None, None, 'W', None, None, None, 'D6', 'D8', 'D1', None, 'D3', 'D1', 'D1', None, 'SHAWN', 'B', 653, 11, 99, 28, '99.0', 'Bachelorette', 'Shawn Booth', 'Personal Trainer', 'Windsor Locks, Connecticut', 'SHAWN', 'B')
('Bachelorette', '11', '11_NICK_V', None, None, None, None, 'R', 'R', None, None, 'E', None, None, None, None, None, 'D9', 'D1', 'D3', 'D1', 'D1', None, 'NICK', 'V', 629, 10, 10, 33, '99.0', 'Bachelorette', 'Nick Viall', 'Software Sales Executive', 'Waukesha, Wisconsin', 'NICK', 'V')
('Bachelorette', '11', '11_NICK_V', None, None, None, None, 'R', 'R', None, None, 'E', None, None, None, None, None, 'D9', 'D1', 'D3', 'D1', 'D1', None, 'NICK', 'V', 654, 11, 9, 34, '99.0', 'Bachelorette', 'Nick Viall', 'Software Sales Executive', 'Waukesha, Wisconsin', 'NICK', 'V')
('Bachelorette', '11', '11_BEN_H', None, None, 'R', None, 'R', None, None, 'E', None, None, None, 'D8', 'D6', 'D5', 'D1', 'D5', 'D1', 'D1', None, None, 'BEN', 'H', 655, 11, 8, 26, '99.0', 'Bachelorette', 'Ben Higgins', 'Software Salesman', 'Warsaw, Indiana', 'BEN', 'H')
('Bachelorette', '11', '11_JARED_H', None, None, None, 'R', None, 'R', 'E', None, None, None, None, 'D8', 'D6', 'D1', 'D9', 'D5', 'D1', 'D1', None, None, 'JARED', 'H', 656, 11, 7, 26, '99.0', 'Bachelorette', 'Jared Haibon', 'Restaurant Manager', 'Warwick, Rhode Island', 'JARED', 'H')
('Bachelorette', '11', '11_JOE_B', None, None, None, None, None, 'R', 'ED', None, None, None, None, 'D7', 'D6', 'D5', None, 'D2', 'D3', None, None, None, 'JOE', 'B', 657, 11, 7, 28, '99.0', 'Bachelorette', 'Joe Bailey', 'Insurance Agent', 'Glasgow, Kentucky', 'JOE', 'B')
('Bachelorette', '11', '11_CHRIS_S', None, None, None, 'R', None, None, 'ED', None, None, None, None, 'D7', 'D6', 'D5', 'D9', 'D5', 'D1', None, None, None, 'CHRIS', 'S', 603, 9, 99, 27, '99.0', 'Bachelorette', 'Chris Siegfried', 'Mortgage Broker', 'McMinnville, Oregon', 'CHRIS', 'S')
('Bachelorette', '11', '11_CHRIS_S', None, None, None, 'R', None, None, 'ED', None, None, None, None, 'D7', 'D6', 'D5', 'D9', 'D5', 'D1', None, None, None, 'CHRIS', 'S', 630, 10, 9, 32, '99.0', 'Bachelorette', 'Chris Soules', 'Farmer', 'Lamont, Iowa', 'CHRIS', 'S')
('Bachelorette', '11', '11_CHRIS_S', None, None, None, 'R', None, None, 'ED', None, None, None, None, 'D7', 'D6', 'D5', 'D9', 'D5', 'D1', None, None, None, 'CHRIS', 'S', 658, 11, 7, 28, '99.0', 'Bachelorette', 'Chris Strandburg', 'Dentist', 'Granite Bay, California', 'CHRIS', 'S')
('Bachelorette', '11', '11_BEN_Z', None, 'R', 'R', None, None, 'E', None, None, None, None, None, 'D8', 'D1', 'D8', 'D9', 'D5', None, None, None, None, 'BEN', 'Z', 659, 11, 6, 26, '99.0', 'Bachelorette', 'Ben Zorn', 'Fitness Coach', 'Falls Church, Virginia', 'BEN', 'Z')
('Bachelorette', '11', '11_TANNER_T', None, None, None, None, None, 'E', None, None, None, None, None, 'D8', 'D6', 'D8', 'D9', 'D5', None, None, None, None, 'TANNER', 'T', 660, 11, 6, 28, '99.0', 'Bachelorette', 'Tanner Tolbert', 'Auto Finance Manager', 'Stilwell, Kansas', 'TANNER', 'T')
('Bachelorette', '11', '11_JJ_L', None, 'R', None, None, None, 'ED', None, None, None, None, None, 'D7', 'D6', 'D8', 'D9', 'D2', None, None, None, None, 'JJ', 'L', None, None, None, None, None, None, None, None, None, None, None)
('Bachelorette', '11', '11_JOSHUA_A', None, None, None, None, 'E', None, None, None, None, None, None, 'D7', 'D6', 'D5', 'D9', None, None, None, None, None, 'JOSHUA', 'A', 662, 11, 5, 31, '99.0', 'Bachelorette', 'Joshua Albers', 'Industrial Welder', 'Kuna, Idaho', 'JOSHUA', 'A')
('Bachelorette', '11', '11_JUSTIN_R', None, None, None, 'R', 'E', None, None, None, None, None, None, 'D8', None, 'D8', 'D9', None, None, None, None, None, 'JUSTIN', 'R', 534, 6, 6, 26, '99.0', 'Bachelorette', 'Justin Rego', 'Entertainment Wrestler', 'Toronto, Ontario', 'JUSTIN', 'R')

THE END.